img {
    height: 40px;
}

.header {
    justify-content: center;
    height: 10%;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding-left: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}