<div class="content">
    <div class="title">
        <h1>Categorias</h1>
    </div>
    <button (click)="goToCategoryCreate()" mat-icon-button color="primary" class="add-category"
        aria-label="Add category button">
        <mat-icon>library_add</mat-icon>
    </button>
    <div class="mat-elevation-z8 content-table">
        <table class="table" mat-table [dataSource]="categorys">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>

            <ng-container matColumnDef="livros">
                <th mat-header-cell *matHeaderCellDef> Livros </th>
                <td mat-cell *matCellDef="let row">
                    <a routerLink="/livros" [queryParams]="{categoria: row.id}">
                        <i class="material-icons books">book</i>
                    </a>
                </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="acoes">
                <th mat-header-cell class="actions" *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let row">
                    <a class="edit" routerLink="edit/{{row.id}}">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="delete" routerLink="delete/{{row.id}}">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</div>